<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книги библиотеки</title>
<!--    <script th:inline="javascript">-->
<!--        let flag = [[${exception}]];//переменная-флаг в thymeleaf-->
<!--        window.onload = () => {-->
<!--            if (flag) new bootstrap.Modal(document.getElementById('deleteErrorModal'), {keyboard: false}).show()-->
<!--        };-->
<!--    </script>-->
</head>
<body>
<div layout:fragment="content">
    <div>
        <hr class="hr">
        <h3>Поиск книги</h3>
        <form method="POST" th:action="@{/films/search}" th:object="${filmsSearchForm}">
            <div class="mt-0 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="title" type="text" class="form-control" id="title" placeholder="Название фильма">
                        <label for="title">Название фильма</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input name="directorsFIO" type="text" class="form-control" id="directorsFIO" placeholder="ФИО продюсера">
                        <label for="directorsFIO">продюсер</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" name="genre" id="genre">
                            <option selected th:value="null">Выберете жанр из списка</option>
                            <option th:each="genre : ${T(ru.sber.homework.java13homework.library.model.Genre).values()}"
                                    th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
                        </select>
                        <label for="genre">Жанр</label>
                    </div>
                </div>
                <div class="row g-2">
                    <button type="submit" class="btn btn-secondary">Найти фильм</button>
                </div>
            </div>
        </form>
    </div>
    <hr class="mt-3 hr">
    <div class="mt-5">
        <div class="row">
            <div class="col">
                <h2>Все фильмы</h2>
            </div>
            <div class="col">
                <a sec:authorize="isAuthenticated() &amp;&amp; (hasRole('ADMIN') || hasRole('LIBRARIAN'))" th:href="@{/films/add}" class="btn btn-success" role="button" style="float: right" aria-disabled="true">Добавить фильм</a>
            </div>
        </div>
        <div>
            <table class="table table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Жанр</th>
                    <th scope="col">Дата производства</th>
                    <th scope="col">Продюсеры</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="film : ${films}">
                    <td th:text="${film.getId()}">ID</td>
                    <td>
                        <a class="text-link text-blue" th:href="'/films/' + ${film.getId()}" th:text="${film.getTitle()}"></a>
                    </td>
                    <td th:text="${film.getGenre().getGenreTextDisplay()}"></td>
<!--                    <td th:text="${book.getStoragePlace()}"></td>-->
<!--                    <td th:classappend="${book.getAmount() <= 0} ? 'not-enough-book'"-->
<!--                        th:text="${book.getAmount()} <= 0 ? 'Нет в наличии' : ${book.getAmount()}"></td>-->
                    <td th:text="${film.getPremierYear()}"></td>

                    <td>
                        <ul>
                            <li th:each="director : ${film.getDirectors()}" th:text="${director.getDirectorsFIO()}"></li>
                        </ul>
                    </td>
<!--                    <td>-->
<!--                        <div sec:authorize="isAuthenticated()">-->
<!--                            <a class="text-link text-blue" th:if="${book.getOnlineCopyPath()} != null" th:href="@{|/books/download?bookId=${book.id}|}">-->
<!--                                <span>Скачать книгу</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </td>-->
                    <td>
                        <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))">
                            <a class="btn btn-sm btn-outline-success" th:href="'/films/update/' + ${film.id}">Обновить</a>
                            <a th:if="${!film.isDeleted()}" class="btn btn-sm btn-outline-danger" th:href="'/films/delete/' + ${film.id}"
                               onclick="return confirm('Вы действительно хотите удалить книгу?')">Удалить</a>
                            <a th:if="${film.isDeleted()}" class="btn btn-sm btn-outline-warning" th:href="'/films/restore/' + ${film.getId()}">Восстановить</a>
                        </div>
                        <a sec:authorize="hasRole('USER')" class="btn btn-sm btn-outline-success"
                           th:href="'/orders/films/' + ${film.id}">Арендовать фильм</a>
<!--                        <a th:if="${film.get.getAmount() > 0}" sec:authorize="hasRole('USER')" class="btn btn-sm btn-outline-success"-->
<!--                           th:href="'/rent/book/' + ${book.id}">Арендовать книгу</a>-->
<!--                        <a href=""> Арендовать фильм</a>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--Модальное окно для ошибок старт-->
        <div th:if="${exception != null &amp;&amp; exception != ''}" class="modal fade" id="deleteErrorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" th:text="${exception}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Модальное окно для ошибок конец-->
        <div>
            <nav aria-label="Pagination" th:if="${films.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${films.number eq 0} ? 'disabled'">
                        <a class="page-link" th:href="@{/films?page={id}(id=${films.number lt 2 ? 1 : books.number})}" aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq films.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, films.totalPages, 1)}">
                        <a class="page-link" th:href="@{/films?page={id}(id=${i})}" th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend ="${films.number eq films.totalPages - 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/films?page={id}(id=${films.number + 2})}" aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>