<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мои книги</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-5">
        <h1>Мои книги</h1>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">Книга</th>
                <th scope="col">Дата аренды книги</th>
                <th scope="col">Плановая дата возвращения</th>
                <th scope="col">Фактическая дата возвращения</th>
                <th scope="col">Возвращена</th>
                <th scope="col">Период аренды</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order: ${orders}">
                <td>
                    <span th:if="${!order.getFilmsDTO().isDeleted()}">
                     <a class="text-link text-blue" th:href="'/films/' + ${order.getFilmsDTO().getId()}" th:text="${order.getFilmsDTO().getTitle()}"></a>
                    </span>
                    <span th:unless="${!order.getFilmsDTO().isDeleted()}" th:text="${order.getFilmsDTO().getTitle()}"></span>
                </td>
                <td th:text="${#temporals.format(order.getRentDate(), 'dd-MM-yyyy')}"></td>
                <td th:text="${#temporals.format(order.getRentDate().plusDays(order.getRentPeriod()), 'dd-MM-yyyy')}"></td>
<!--                <td>-->
<!--                    <span th:if="${rent.getReturned()}" th:text="${#temporals.format(rent.getReturnDate(), 'dd-MM-yyyy')}"></span>-->
<!--                </td>-->
<!--                <td th:text="${rent.getReturned()} ? 'Да' : 'Нет'"></td>-->
                <td th:text="${order.getRentPeriod()} + ' дней'"></td>
                <td>
                    <a sec:authorize="isAuthenticated() &amp;&amp; (hasRole('USER'))" th:if="!${order.getRentDate().plusDays(order.getRentPeriod())}" th:href="'/orders/return-films/' + ${order.getId()}" class="btn btn-primary" role="button" aria-disabled="true">Вернуть фильм</a>
                </td>
            </tr>
            </tbody>
        </table>
        <button sec:authorize="isAuthenticated() &amp;&amp; (hasRole('ADMIN'))" type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>

    <nav aria-label="Pagination" th:if="${orders.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${orders.number eq 0} ? 'disabled'">
                <a class="page-link" th:href="'/orders/user-films/' + ${#authentication.getPrincipal().getUserId()} + '?page=' + ${orders.number lt 2 ? 1 : rentBooks.number}" aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(1, orders.totalPages, 1)}" th:classappend="${i eq orders.number + 1} ? 'active'">
                <a class="page-link" th:href="'/orders/user-films/' + ${#authentication.getPrincipal().getUserId()} + '?page=' + ${i}" th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${orders.number eq orders.totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="'/orders/user-films/' + ${#authentication.getPrincipal().getUserId()} + '?page=' + ${orders.number + 2}" aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>
