<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить продюсера</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3" th:text="'Обновить продюсера ' + ${directors.getDirectorsFIO()}"></h3>
    <form class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{/directors/update}" th:object="${directorsForm}">
        <input type="hidden" name="id" th:value="${directors.getId()}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
                    <input name="directorsFIO" th:value="${directors.getDirectorsFIO()}" type="text" class="form-control" id="directorsFIO" placeholder="ФИО автора" required>
                    <label for="directorsFIO">ФИО автора</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
<!--            <div class="col-md">-->
<!--                <div class="form-floating">-->
<!--                    <input name="birthDate" th:value="${directors.getBirthDate()}" type="date" class="form-control" id="date" placeholder="Дата рождения" required>-->
<!--                    <label for="date">Дата рождения</label>-->
<!--                    <div class="invalid-feedback">Обязательное поле для заполнения</div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md">-->
<!--                <div class="form-floating">-->
<!--                    <textarea name="description" th:value="${directors.getDescription()}" th:text="${author.getDescription()}" type="text" class="form-control" id="description" placeholder="Описание"></textarea>-->
<!--                    <label for="description">Описание</label>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Обновить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>