<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр продюсера</title>
</head>
<body>
<form layout:fragment="content">
    <div class="mt-3">
        <h3 th:text="'Информация об авторе: ' + ${directors.getDirectorsFIO()}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="directorsFIO" class="col-sm-2 col-form-label no-border">ФИО:</label>
                <div class="col-sm-10">
                    <p th:text="${directors.getDirectorsFIO()}" class="form-control-plaintext" id="directorsFIO">
                </p></div>
            </div>
<!--            <div class="mb-2 row">-->
<!--                <label for="birthDate" class="col-sm-2 col-form-label">Дата рождения:</label>-->
<!--                <div class="col-sm-10">-->
<!--                    <p th:text="${author.getBirthDate()}" class="form-control-plaintext" id="birthDate">-->
<!--                </p></div>-->
<!--            </div>-->
<!--            <div class="mb-2 row">-->
<!--                <label for="description" class="col-sm-2 col-form-label">Описание:</label>-->
<!--                <div class="col-sm-10">-->
<!--                    <p th:text="${author.getDescription()}" class="form-control-plaintext" id="description">-->
<!--                </p></div>-->
<!--            </div>-->
        </form>
        <hr class="hr">
        <div class="mt-2">
            <form method="POST" th:object="${directorsSearchForm}" th:action="@{/films/search/directors}">
                <a sec:authorize="isAuthenticated() &amp;&amp; !hasRole('USER')" class="btn btn-primary" th:href="'/directors/add-films/' + ${directors.getId()}">Добавить книгу</a>
                <input type="hidden" name="directorsFIO" th:value="${directors.getDirectorsFIO()}">
                <button type="submit" class="btn btn-success">Посмотреть фильм</button>
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
            </form>
        </div>
    </div>
</form>
</body>
</html>
